@font-face {
    font-family: Karla;
    src: url(./fonts/Karla/static/Karla-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: Karla;
    src: url(./fonts/Karla/static/Karla-Bold.ttf);
    font-weight: 700;
}
@font-face {
    font-family: DM_Serif_Display;
    src: url(./fonts/DM_Serif_Display/DMSerifDisplay-Regular.ttf);
    font-weight: 400;
}